<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Claims</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.9/purify.min.js"></script>
</head>
<body>
    <h1>Claims</h1>
    <div id="claims"></div>
    <script src="/static/claims.js"></script>
    <br>
    <button id="add">Add Claim</button>
    <button id="refresh">Refresh Claims</button>
    <button id="logout">Logout</button>
</body>
</html>
